html,
body {
    margin: 0;
    height: 100%;
    font-family: 'Hanken Grotesk', sans-serif;
}

body {
    /* flex properties */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* styling */
    background-color: hsl(0, 0%, 100%);
}

/*             LARGE CONTAINER               */
#LargeContainer {
    /* flex properties */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* styling properties */
    background-color: hsl(0, 0%, 100%);
    border: 1px solid rgb(243, 243, 243);
    border-radius: 20px;
    box-shadow: 0px 0px 30px hsla(241, 81%, 54%, 0.2);
}

/*             FIRST CONTAINER               */
#container1 {
    /* properties */
    height: 400px;
    width: 300px;
    /* styling */
    border-radius: 25px;
    background-image: linear-gradient(180deg,
            hsl(252deg 100% 67%) 0%,
            hsl(251deg 99% 66%) 12%,
            hsl(251deg 98% 66%) 16%,
            hsl(251deg 96% 65%) 20%,
            hsl(251deg 95% 65%) 23%,
            hsl(250deg 94% 64%) 25%,
            hsl(250deg 93% 63%) 28%,
            hsl(250deg 92% 63%) 30%,
            hsl(249deg 91% 62%) 33%,
            hsl(249deg 90% 62%) 35%,
            hsl(248deg 89% 61%) 37%,
            hsl(248deg 89% 60%) 39%,
            hsl(247deg 88% 60%) 42%,
            hsl(247deg 87% 59%) 45%,
            hsl(246deg 86% 58%) 48%,
            hsl(246deg 85% 58%) 51%,
            hsl(245deg 85% 57%) 54%,
            hsl(244deg 84% 57%) 58%,
            hsl(244deg 83% 56%) 63%,
            hsl(243deg 83% 55%) 69%,
            hsl(242deg 82% 55%) 77%,
            hsl(241deg 81% 54%) 100%);
    /* text properties */
    text-align: center;
    /* flex properties */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container1 span:first-child {
    /* styling */
    color: hsl(221, 100%, 96%);
    /* container properties */
    margin-top: 20px;
    /* text properties */
    font-size: 18px;
}

#container1 #d1 {
    /* styling */
    border-radius: 50%;
    padding: 10px;
    background-image: linear-gradient(180deg,
            hsl(256deg 72% 46%) 0%,
            hsl(256deg 73% 45%) 16%,
            hsl(255deg 74% 44%) 23%,
            hsl(254deg 75% 43%) 29%,
            hsl(254deg 77% 41%) 34%,
            hsl(253deg 78% 40%) 39%,
            hsl(253deg 79% 39%) 43%,
            hsl(252deg 81% 38%) 48%,
            hsl(251deg 83% 37%) 52%,
            hsl(251deg 84% 35%) 57%,
            hsl(250deg 86% 34%) 61%,
            hsl(249deg 89% 33%) 66%,
            hsl(247deg 91% 32%) 71%,
            hsl(246deg 93% 31%) 77%,
            hsl(243deg 95% 29%) 84%,
            hsl(240deg 97% 28%) 100%);
    /* container properties */
    height: 35%;
    width: 145px;
    margin-top: 20px;
    margin-bottom: 10px;
    /* flex properties */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container1 #d1 span:first-child {
    /* text properties */
    font-size: 70px;
    font-weight: 800;
    /* control properties */
    margin-top: -10px;
    margin-bottom: -20px;
    color: hsl(0, 0%, 100%);
}

#container1 #d1 h7 {
    color: hsl(241, 100%, 89%);
}

#container1 #s2 {
    /* styling */
    color: hsl(0, 0%, 100%);
    /* control properties */
    margin-bottom: 10px;
    /* text properties */
    font-size: 25px;
}

#container1 #d2 {
    /* container properties */
    width: 200px;
    /* styling properties */
    color: hsl(221, 100%, 96%);
}

/*             SECOND CONTAINER               */
#container2 {
    /* properties */
    height: 395px;
    width: 300px;
    /* styling */
    background-color: none;
    border: 0;
    /* flex properties */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* text properties */
}

#container2 span:first-child {
    /* text properties */
    font-size: 20px;
    text-align: left;
    /* styling properties */
    /* control properties */
    width: 85%;
    margin-top: 10px;
}

#container2 div {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#container2 div span:nth-of-type(1) {
    /* control properties */
    margin-right: 5em;
    padding: 14px 0px 0px;
}

#container2 div span:nth-of-type(2) {
    /* control properties */
    margin-right: 1em;
    margin-top: 4px;
}

#container2 img {
    /* control properties */
    height: 20px;
    width: 28px;
    margin-top: 5px;
}

#container2 div {
    /* text properties */
    /* styling properties */
    border-radius: 12px;
    /* control properties */
    width: 85%;
    height: 13%;
    text-align: center;
}

#container2 div:nth-of-type(1) {
    background-color: hsla(0, 100%, 65%, 0.1);
}

#container2 div:nth-of-type(2) {
    background-color: hsla(39, 100%, 56%, 0.1);
}

#container2 div:nth-of-type(3) {
    background-color: hsla(166, 100%, 37%, 0.1);
}

#container2 div:nth-of-type(4) {
    background-color: hsla(234, 85%, 45%, 0.1);
}

#container2 img,
span {
    padding: 10px 0px;
}

#container2 button {
    /* control properties */
    width: 85%;
    height: 10%;
    margin-bottom: 10px;
    /* styling properties */
    color: hsl(0, 0%, 100%);
    background-color: hsla(224, 30%, 22%, 1);
    border-radius: 15px;
    border-style: hidden;
    /* text properties */
    font-size: 15.5px;
}

#container2 button:hover {
    background-image: linear-gradient(180deg,
            hsl(252deg 100% 67%) 0%,
            hsl(251deg 99% 66%) 12%,
            hsl(251deg 98% 66%) 16%,
            hsl(251deg 96% 65%) 20%,
            hsl(251deg 95% 65%) 23%,
            hsl(250deg 94% 64%) 25%,
            hsl(250deg 93% 63%) 28%,
            hsl(250deg 92% 63%) 30%,
            hsl(249deg 91% 62%) 33%,
            hsl(249deg 90% 62%) 35%,
            hsl(248deg 89% 61%) 37%,
            hsl(248deg 89% 60%) 39%,
            hsl(247deg 88% 60%) 42%,
            hsl(247deg 87% 59%) 45%,
            hsl(246deg 86% 58%) 48%,
            hsl(246deg 85% 58%) 51%,
            hsl(245deg 85% 57%) 54%,
            hsl(244deg 84% 57%) 58%,
            hsl(244deg 83% 56%) 63%,
            hsl(243deg 83% 55%) 69%,
            hsl(242deg 82% 55%) 77%,
            hsl(241deg 81% 54%) 100%);
}

/* mention */
.attribution {
    margin-top: 5em;
}


@media (max-width:420px) {
    body {
        /* flex properties */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #LargeContainer {
        /* control properties */
        width: 100%;
        /* flex properties */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* styling properties */
    }

    #container1 {
        /* control properties */
        width: 100%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    #container2 {
        /* control properties */
        width: 100%
    }

    .attribution {
        /* control properties */
        margin-top: 2.5em;
        /* flex properties */
        display: flex;
        flex-direction: column;
    }

    .attribution span:nth-of-type(2) {
        /* control properties */
        margin-left: 0.8em;
    }
}